body {
    margin: 0px;
    --theme-primary: #2e7d32;
    --theme-primary-light: #60ad5e;
    --theme-primary-dark: #005005;
    --theme-accent: #651fff;
    --theme-accent-light: #a256ff;
    --theme-text-primary: #212121;
    --theme-text-secondary: #757575;
    --theme-divider: #BDBDBD;
    --nav-width: 18rem;
    background: whitesmoke;
}
html {
    font-family: Roboto, sans-serif;
    color: var(--theme-text-primary);
}
.editor-wrapper {
    width: 40rem;
    height: 20rem;
}
#TOC {
    z-index: 1;
    background-color: var(--theme-primary);
    color: white;
    height: 100%;
    width: var(--nav-width);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
#TOC ul {
    list-style-type: none;
    padding: 0 0 0 10px;
}
#TOC a {
    font-size: 1.25rem;
    text-decoration: underline;
    color: white;
}
#body-wrap {
    margin-left: calc(var(--nav-width) + 1rem);
}
.centerer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#heading-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background-color: whitesmoke;
}
#heading {
    font-size: 3rem;
    color: var(--theme-primary-dark);
    margin: 0;
}
#logo {
    height: 3rem;
    width: 3rem;
}
