body {
    margin: 0px;
    --theme-primary: #2e7d32;
    --theme-primary-light: #60ad5e;
    --theme-primary-dark: #005005;
    --theme-accent: #651fff;
    --theme-accent-light: #a256ff;
    --theme-text-primary: #212121;
    --theme-text-secondary: #757575;
    --theme-divider: #BDBDBD;
    --nav-width: 18rem;
    --offwhite: #f5f5f5;
    background: whitesmoke;
}
html {
    font-family: Roboto, sans-serif;
    color: var(--theme-text-primary);
}
.editor-wrapper {
    max-width: 100%;
    width: 50rem;
    height: 20rem;
}
#TOC {
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#TOC ul, #all-toc {
    list-style-type: none;
    flex-shrink: 0;
}
#TOC li, #all-toc li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#TOC ul li:before, #all-toc li:before { /* the custom styled bullets */
  color: var(--theme-primary-dark);
  content: "᚛";
  font-weight: 900;
  display: inline-block;
  margin-right: 0.5rem;
  flex-shrink: 0;
}
#TOC a, #all-toc a {
    font-size: 1.25rem;
    max-width: calc(0.7 * var(--nav-width));
    text-decoration: none;
    padding: 2px 8px 2px 8px;
    border-radius: 10px;
    border: 1px solid transparent;
    color: var(--theme-text-primary);
    display: inline-block;
}
#TOC a:hover, #all-toc a:hover {
    border: 1px solid var(--theme-accent);
    background-color: var(--offwhite);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
#TOC ul > li > ul, #all-toc > li > ul {
    border-left: 1px dashed var(--theme-primary);
    margin-left: 0.25rem;
}
.centerer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section.level2, #bottom-nav {
    background: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 8px;
    margin: 8px 0 8px 0;
}
section.level2 > h2 {
    text-align: center;
    border-bottom: 1px solid var(--theme-divider);
}
#title-block-header {
    text-align: center;
    color: var(--theme-primary);
    background: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 8px;
    margin: 8px 0 8px 0;
}
.play {
    background-color: var(--theme-accent);
    color: white;
    border-radius: 100%;
}
.clear {
    color: var(--theme-accent);
}
figure {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
figure > img {
    max-width: 100%;
}
figure > figcaption {
    border-bottom: 2px solid var(--theme-divider);
    margin-bottom: 4px;
}
.next-page-link {
    display: flex !important;
    max-width: 100% !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 8px;
}
.next-page-link iron-icon.next {
    color: var(--theme-primary);
    margin-left: 1rem;
}
.next-page-link iron-icon.prev {
    color: var(--theme-primary);
    margin-right: 1rem;
}
.next-subtitle {
    color: var(--theme-text-secondary);
    font-size: 1rem;
}
#bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#bottom-nav > a {
    font-size: 1.5em;
    text-decoration: none;
    color: var(--theme-text-primary);
}
.bottom-link {
    border: 1px solid transparent;
    padding: 2px 8px 2px 8px;
    border-radius: 10px;
}
.bottom-link:hover {
    border: 1px solid var(--theme-accent);
    background-color: var(--offwhite);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/*inline source code*/
p code, li code {
    padding: 2px;
    border-radius: 5px;
    border: 1px solid var(--theme-divider);
}
