<!doctype html>
<html lang="en">
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
        <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <script src="node_modules/codemirror/lib/codemirror.js"></script>
        <script src="node_modules/codemirror/addon/mode/simple.js"></script>
        <script src="node_modules/codemirror/mode/javascript/javascript.js"></script>
        <link rel="stylesheet" href="node_modules/codemirror/lib/codemirror.css">
        <link rel="stylesheet" href="node_modules/codemirror/theme/solarized.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

        <title>Setanta</title>
        <meta name="description" content="Setanta">

        <!-- See https://goo.gl/OOhYW5 -->
        <link rel="manifest" href="/manifest.json">

        <script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

        <script type="module" src="/jsbuild/fyp-app/fyp-app.js" crossorigin></script>
        <script src="/jsbuild/js/cm-mode.js" crossorigin></script>
        <style>
            body {
                margin: 0px;
                --theme-primary: #4CAF50;
                --theme-primary-light: #C8E6C9;
                --theme-primary-dark: #388E3C;
                --theme-accent: #1976d2;
                --theme-text-primary: #212121;
                --theme-text-secondary: #757575;
                --theme-divider: #BDBDBD;
            }
            html {
                font-family: Roboto, sans-serif;
                color: var(--theme-text-primary);
            }
        </style>
    </head>
    <body>
        <fyp-app content="{{ .Content }}"></fyp-app>
    </body>
</html>
